<table class='table table-bordered table-hover'>
  <tr>
    <th rowspan='3' style='text-align:center;line-height:100px;'></th>
    <th colspan='6' style='text-align:center' class='warning'><h3>暴露量估計總表: %ADI</h3></th>
    <tr>
      <th colspan='2' style='text-align:center'>最大允許濃度</th>
      <th colspan='2' style='text-align:center'>使用濃度</th>
    </tr>
  </tr>
  <th>全體族群平均</th>
  <th>高暴露族群</th>
  <th>佔暴露百分比</th>
  <th>全體族群平均</th>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>嬰兒(0-11月)</h4></th>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>幼兒(12-35月)</h4></th>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>孩童(3-9歲)</h4></th>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>青少年(10-17歲)</h4></th>
  </tr>
  <th><h4>男</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <tr>
    <th><h4>女</h4></th>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>成年人(18-64歲)</h4></th>
  </tr>
  <th><h4>男</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <tr>
    <th><h4>女</h4></th>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>老年人(65-74歲)</h4></th>
  </tr>
  <th><h4>男</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <tr>
    <th><h4>女</h4></th>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>高齡老年人(75+)</h4></th>
  </tr>
  <th><h4>男</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <tr>
    <th><h4>女</h4></th>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
</table>
